* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana,"Segoe UI", Tahoma, Geneva, sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
}

#projects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
}

#projects a:hover {
    background-color: #bfc1bf;
}

a, button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 5px;
    background-color: #8f8f8f;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #bfc1bf;
}

a:hover {
    background-color: #bfc1bf;
}
