* {
    box-sizing: border-box;
    margin: 3;
    padding: 3;
}

body {
    font-family: Verdana,"Segoe UI", Tahoma, Geneva, sans-serif;
    line-height:1.75;
    background:#f5f7f9;
    color:#24313d;
}

.hero {
    background:linear-gradient(135deg,#15354a,#2f6b73);
    color: white;
    padding:2rem 0 5rem;
}

.logo {
    color: rgb(180, 178, 178);
}

.hero-content{
    text-align: center;
    margin-top: 5rem;
    font-family: 'Instrument Serif', serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
    line-height: 0.95;
    letter-spacing: -0.035em;
    margin: 0 auto;
    max-width: 80ch;
}

#hero-content-p {
    word-spacing: 8px;
}

nav {
    width:min(1100px,90%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type:none;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#projects a:hover {
    background-color: #bfc1bf;
}

a, button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 5px;
    color: rgb(180, 178, 178);
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: color .15s ease;
}

button:hover {
    background-color: #bfc1bf;
}

a:hover {
    color: var(--ink);
}
